<h1>一覧表示</h1>

<p><%= link_to "新規作成", new_post_path %></p>

<ul>
	<% @posts.each do |p| %>
		<li>
			<%= link_to p. title, post_path(p.id) %>
			<%= link_to "編集", edit_post_path(p.id)  %>
		</li>
	<% end %>
</ul>