/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';

body{
	/*background-image: url("background");*/
	background-size: cover;
	background-attachment: fixed;
}

.col-sm-4{
	width: 380px;
}

.text-center{
	text-align: center;
}

.text-right{
	text-align: right;
}


header{
	background-color: #d6ebff;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
	/*position: fixed;*/
	z-index: 9999;
	width: 100%
	
}

header .logo{
	margin-left: 60px;
}

.new_post{
	float: right;
	margin: 30px 40px 0 0;
}

.wl_header{
	width: 100%;
}

.things_top_title{
    padding: 0.5em 1em;
    color: #232323;
    background: #fff8e8;
    border-left: solid 10px #ffc06e;	
}

.plans_top_title{
	background-color: #d6ebff;
}

.title_box{
	border: solid 3px #d6ebff;

}

.plans_top_title{
	font-size: 30px;
	color: gray;
	text-align: center;
	margin-bottom: 0;
}

.plan_date{
	margin-bottom: 0;
	font-size: 17px;

}

.plan_title{
	font-size: 15px;
	margin-bottom: 0;
}
 
 .plans_list{
 	background-color: white;
 }

/*以下、投稿コメント*/
.post {
    width: 100%;
    margin: 30px 30px;
    overflow: hidden;
}

.post .faceicon {
    float: left;
    margin-right: -20px;
    width: 100px;
}

.post .faceicon img{
    width: 100%;
    height: auto;
    border-radius: 50%;
}
.post .chatting {
    width: 100%;
    text-align: left;
}
.says {
    display: inline-block;
    position: relative; 
    margin: 0 0 0 50px;
    padding: 10px;
    width: 500px;
    height: 110px;
    border-radius: 12px;
    background: #edf1ee;
}

.says:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 3px; 
    left: -19px;
    border: 8px solid transparent;
    border-right: 18px solid #edf1ee;
    -ms-transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
}
.says p {
    margin: 0;
    padding: 0;
}

.content_text{
	min-height: 40px;
	font-size: 16px;
	padding-left: 20px;
}
.title_text{
	font-size: 20px;
}

.comment_count{
	text-align: right;
	margin-right: 20px;

}

.yield{
	margin-top: 30px;
}

.pc-side-nav-fixed {
	margin-bottom: 20px;
	top: 3%;
	width: 350px;
	position: fixed;
}

